body{
   color: #333333;
   overflow-x: hidden;
   /*background-image: url('/images/.bg-img.jpg');*/
}

.bg__img {
   background-image: url('/images/bg-img.jpg');
   background-size: cover;
   background-position: center;
}

.head__img {
   background-image: url('/images/head-img.jpg');
   height: 20vh;
   width: 100vw;
   background-size: cover;
   margin-left: calc((100% - 100vw) / 2);
   padding-top: 2vh;
}

.content-wrapper {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
   justify-content: space-between
}

.container{
   margin-bottom: 50px;
   width: 95%;
   padding-right: 0;
   padding-left: 0;
}

#profilePicture{
   width: 200px;
   object-fit: cover;
  
}

.img-thumbnail{
   max-width: 200px;
   height: 200px;
}

.img-thumbnail--small {
   max-width: 50px;
   height: 50px;
}

.center {
   text-align: center;
}

i{
   color: #007bff;
   padding-right: 20px;
}
/*----------signup----------*/
.container-signup{
   border: 1px solid black;
   max-width: 650px;
   height: 514px;
   margin-top: 10vh;
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: auto;
   margin-left: auto;
   margin-right: auto;
   background-color: white;
}

#container-signup-student,#container-signup-employer {
   grid-column: 1/3;
   padding: 0 2em;

}

.header-signup{
   display: flex;
   justify-content: center;
   align-items: center;
   cursor:pointer;
}

#header-student{
   border-right: 1px solid rgba(0,0,0,0.1);
   background-color: #56A7F1;
}
#header-employer{
   grid-column: 2/3;
   grid-row:1;
   background-color: #F2F2F2;
}

/*----------login----------*/

.container-login{
   border: 1px solid black;
   max-width: 650px;
   padding: 2em;
   margin-left: auto;
   margin-right: auto;
   margin-top: 10vh;
   background-color: white;
}

/*--------profile--------*/
.contact-icon{
   align-items: center;
   display: grid;
   grid-template-columns: 50px 500px;
}

.contact-icon p{
   margin-bottom: 0;
}

.profile-group{
   margin-bottom: 50px;
}


/*----------nav----------*/
nav, nav .btn{
   text-transform: uppercase;
   font-weight: 700;
}

/*----------footer----------*/

footer{
   background-color: #333333;
   color: #fff;
   text-align: center;
   padding: 10px;
   
}

.gray {
   background-color: #f7f7f7
}

/*----------list----------*/

.list {
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
}

.list__item {
   margin: 0.5em;
   text-align: center;
   background-color: #fff;
   border-radius: 0.5em;
   -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
   -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
   box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
}

.list__item p {
   height: 40px;
   overflow-y: scroll;
}

.list__item h2 {
   height: 60px;
   min-width: 60px;
   max-height: 60px;
   overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.list__item p::-webkit-scrollbar, .list__item h2::-webkit-scrollbar {
   display: none;
 }
 
 /* Hide scrollbar for IE, Edge and Firefox */
 .list__item p, .list__item h2 {
   -ms-overflow-style: none;  /* IE and Edge */
   scrollbar-width: none;  /* Firefox */
 }

/*#header-student{
   background-color: grey;
}*/

/*----------div flexbox----------*/
.row {
   display: flex;
   justify-content: space-between;
   margin-left: 0.5em;
   margin-right: 0.5em;
}

.row--centered {
   align-items: center;
}

.button-heading {
   display: flex;
   align-items: center;
}

.flexed {
   display: flex;
   align-items: baseline;
}

.flexed__item {
   margin-left: 0.5em;
}

.section__header {
   display: flex;
   justify-content: space-between;
   flex-direction: row-reverse;
   margin-bottom: 0.5em;
}

.internship {
   text-decoration: none;
   color: #000;
   max-width: 50%;
}

.hidden {
   display: none;
}

.internship:hover {
   color: #56A7F1;
   text-decoration: none;
}

.btn__company {
   margin: 0.5em;
}

.links img{
   width: 100%;
   margin-bottom: 20px;
}

.margin-bottom {
   margin-bottom: 0.5em
}

.margin-top {
   margin-top: 0.5em;
}

/*----------form----------*/
.form__filter {
   margin-top: 10vh;
}

/*----------company----------*/
.internship__paragraph {
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

.button__container a{
   margin: 0.5em;
}

@media all and (min-width: 768px){

   .intro{
      display: grid;
       grid-template-columns: 3fr 1fr;
       grid-template-rows: auto;
   }
   
   #education-info{
      grid-column: 1/2;
       grid-row: 2/3;
   }
   
   .intro .description{
      grid-column: 1/2;
       grid-row: 3/4;
   }
   
   .intro .container-img{
      grid-row: 1/4;
   }
   .links{
      display:grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 2em;
   }

   .links h4{

      grid-column: 1/3;
   }

   .list {
      flex-direction: row;
   }

   .list__item {
      width: 31%;
   }

   .button__container {
      display: flex;
      flex-direction: column;
   }
  
}

/*@media all and (min-width:1024px) {

   


}*/